@charset "utf-8";


nav {
	width: 1280px;
	margin: -7px 0px 0px -3px;
	padding:3px;
}

nav ul {
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: burlywood;
	border: groove 3px ;
	color: dimgrey;
}

nav ul li {
	list-style-type: none;
	font-size: 1.25em;
	font-weight: 600;
	vertical-align: middle;
}

nav ul li a {
	text-decoration: none;
	color: dimgrey;
}

nav ul li a:hover {
	color: black;
	font-weight: 700;
	border-bottom: solid 2px;
}