@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}

body {
	max-width: 1280px;
	background-color: antiquewhite;
}

#top {
	position: relative;
	top: 0px;
	left: 0px;
	opacity: 0.75;
	border: none;

}

#booksmall {
	display: none;
}

header h1 {
	position: absolute;
	top: 30px;
	left: 300px;
	font-size: 3em;
	text-shadow: 0 0 0.2em white,0 0 0.2em white,0 0 0.2em white;
	/*text-shadow: 0.1em 0.1em 0.2em grey;
	color: white; 
	text-shadow: black 0.1em 0.1em 0.2em; */
}


footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 10px auto;
}

footer div a {
	text-decoration: none;
	color: black;
}

footer div a:hover {
	color: blue;
	border-bottom: solid 1px; 
}



@media screen and (max-width: 600px) {
	body {
		max-width: 600px;
	}

	header {
		max-width: 600px;
	}

	#top {
		display: none;
	}

	#booksmall {
	display: block;
	width: 600px;
	opacity: 0.75;
	border: none;
	}

	
	header div {
		font-size: 1em;
		position: absolute;
		top: -10px;
		left: -280px;
	
	}

	footer {
		flex-direction: column;
		text-align: center;
		font-size: 1.5em;
	}

	footer div {
		margin: 15px auto;
	}

}