@charset "utf-8";
/*header*/
#logo {
    
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1;
    
}

#connect {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 50px;
    width: 50px;
}

#connect:hover {
    filter: invert(.65);
    
}


#connect a {
    text-decoration: none;
    color: black;
    
}

#search {
    position: absolute;
    top: 115px;
    left: 350px;
}

input {
	width: 350px;
    padding: 5px 10px;
	
}

.loupe {
    width: 30px;
    height: 30px;
    background-color: antiquewhite;
    position: relative;
    top: 10px;
    
}
#loupe {
    width: 30px;
    position: absolute;
    top: 10px;
    left: 355px;
}


/*nav*/
nav {
    vertical-align: text-bottom;
    margin-top: -5px;
    background-color: antiquewhite;
    height: 50px;
    max-width: 1680px;
}
#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Fredoka One', cursive;
    
}

#menu li {
    list-style-type: none;
    font-size: 1.15em;
    margin-top: 10px;
}

#menu li:hover{
    border-bottom: solid rgb(201, 65, 54);
    filter: brightness(1.25);
}

#menu li a {
    text-decoration: none;
    color: black;
    
}

#home {
    width: 30px;
}




/*main*/
main {
    padding: 30px;
    width: 600px;
}

h2 {
    font-family: 'Fredoka One';
    margin-bottom: 15px;
    font-size: 1.75em;
}
section {
    padding: 30px;
    background-color: antiquewhite;
}
p{
    font-size: 1.25em;
    font-family: sans-serif;
}

footer {
	text-align: center;
    margin-top: 20px;
    font-family: 'Comfortaa', cursive;
    background-color: antiquewhite;
    height: 100px;
    
    
        
    
}

    


footer a {
	text-decoration: none;
	color: black;
}

footer a:hover {
	color: white;
	 
}

#accueil {
    display: none;
}

#ouvrir, #fermer {
	display:none;
}




@media screen and (max-width: 600px) {
	/*header*/
    #connect {
        position: absolute;
        top: 20px;
        left: 420px;
        
    }
    
    
    #ouvrir {
		font-size: 1.75em;
        
		border-radius: 100%;
		color: rgb(201, 65, 54);
		display:block;
		width: 50px;
        height: 50px;
		background-color:black;
		border:0px;
        position: absolute;
        left: 420px;
        top: 100px;
	}

	#fermer {
		display:block;
		position:absolute;
		top:5px;
		left:10px;
		font-size:1.75em;
		color:black;
		background-color:transparent;
		border:none;
	}

	/* ajoute la class open du script js à la nav */
	nav.open{
		transform:translateX(0px);
	}

	nav{
		opacity: 0.85;
        position:fixed;
        right:0;
        background-color:rgb(201, 65, 54);
        width:250px;
        height:60vh;
        transform:translateX(250px);
        transition:transform 0.55s ease-in-out;
        z-index:2;
    }

    #menu{
    	flex-direction: column;
        
        height:auto;
        margin-top:25px;
        margin-left: 10px;
    }

    #menu li, #menu li a {
        height:auto;
		font-size: 1.25em;
        margin-top: 15px;
    }

    #accueil {
        display: block;
    }
    #home {
        display: none;
    }
    
    
    
    
    
    #search {
        position: absolute;
        left: 17px;
        top: 173px;
        
    }
    .search {
        width: 400px;
        font-size: 1.25em;
    }
    #loupe {
        position: absolute;
        left: 410px;
        top: 15px;
    }
    .loupe {
        height: 38px;
        width: 38px;
    }
    
    
    
    main {
        max-width: 450px;
        padding: 0px;
        margin-left: 15px;
        margin-top: 50px;
    }
    
    section {
        max-width: 500px;
    }
    
    
    
    footer  {
        height: 150px;
        
        
    }
    
	